<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timequest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Instructions"></activity>
        <activity android:name=".LearningReadActivity" />
        <activity android:name=".LearningIntroActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".NotesDetail" />
        <activity
            android:name=".ui.question.Achievement"
            android:label="@string/title_activity_achievement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.question.QuestionPage"
            android:label="@string/title_activity_question_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CustomiseActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>